HEAD
config
description
hooks/
info/
.*.sw*
filterscripts/*.amx
gamemodes/*.amx
scriptfiles/*
__pycache__/
*.pyc
web/
discirc/

# Dev stuff..

bans.json
qawno/
plugins/
pysamp/
pystreamer/
server.cfg
omp-server
log.txt
*.pdb
*.exe
config.json
components/
models/
.vscode
.venv/
pyproject.toml

# Mysql stuff

*.dll
log-core.so

# Logs

logs/
